<article nz-typography>
  <h3 nz-typography>1. Sobre a biblioteca</h3>
  <p nz-typography>
    <app-biblioteca-detail-sobre></app-biblioteca-detail-sobre>
  </p>
</article>
<nz-divider></nz-divider>
<article nz-typography>
  <h3 nz-typography>2. Apoios Recebidos</h3>
  <p nz-typography>
    蚂蚁的企业级产品是一个庞大且复杂的体系。这类产品不仅量级巨大且功能复杂，而且变动和并发频繁，常常需要设计与开发能够快速的做出响应。
    同时这类产品中有存在很多类似的页面以及组件，可以通过抽象得到一些稳定且高复用性的内容。
  </p>
  <p nz-typography>
    我们提供完善的设计原则、最佳实践和设计资源文件 （
    <span nz-typography><code>Sketch</code></span>
    和
    <span nz-typography><code>Axure</code></span>
    ），来帮助业务快速设计出高质 量的产品原型。
  </p>
  <div nz-typography>
    <ul>
      <li>
        <a href="/docs/spec/proximity">设计原则</a>
      </li>
      <li>
        <a href="/docs/pattern/navigation">设计模式</a>
      </li>
      <li>
        <a href="/docs/resource/download">设计资源</a>
      </li>
    </ul>
  </div>
</article>
