.login {
  background: white;
  position: absolute;
  top: 42%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 400px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.login-logo {
  width: 100%;
  height: 80%;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-register {
  float: left;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
