@import '../../../../styles.scss';

#opcoes-form {
  ::ng-deep .ant-card-body {
    padding: 10px;
  }
}

.opcao-icon {
  font-size: 30px;
  padding-bottom: 3px;
}

.opcao-card {
  cursor: pointer;
  p {
    margin-bottom: 0.5em;
  }
}

.opcao-selected {
  border: 1px solid $primary-orange;
}

.desabilitar-eventos {
  pointer-events: none;
  cursor: none;
}
