<app-sebp-breadcrumb subtitulo="Bibliotecas > Opções"></app-sebp-breadcrumb>
<br>
<section id="opcoes-form">
  <nz-list nzGrid>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="3" *ngFor="let opcao of opcoes">
        <nz-list-item>
          <nz-card class="opcao-card" [routerLink]="[opcao.rota]" [routerLinkActive]="['opcao-selected']">
            <em nz-icon [nzType]="opcao.icone" nzTheme="outline" class="opcao-icon primary-orange"></em>
            <p>{{opcao.descricao}}</p>
            <h6 class="primary-gray">{{opcao.titulo}}</h6>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list>
</section>

<section>
  <router-outlet></router-outlet>
</section>
