<nz-list nzGrid>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="6" *ngFor="let item of bibPageable.content">
      <nz-list-item>
        <nz-card [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
          </nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>
      </nz-list-item>
    </div>
  </div>
</nz-list>

<nz-pagination
  [nzPageIndex]="bibPageable.number"
  [nzPageSize]="bibPageable.size"
  [nzTotal]="bibPageable.totalElements"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzHideOnSinglePage]="true">
</nz-pagination>

<!--
<div nz-row [nzGutter]="[8, 8]">
  <div nz-col class="gutter-row" [nzSpan]="6" >

    <nz-card style="width:240px;" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate">
      </nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #actionSetting>
      <i nz-icon nzType="setting"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i nz-icon nzType="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis"></i>
    </ng-template>

  </div>
</div>
-->
