<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzCollapsed="true" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <em nz-icon nzType="z-icons:logomarcas/sebp-logo" class="icone" alt="logomarca sebp"></em>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter *ngFor="let menu of menus" [routerLink]="menu.rota" nz-tooltip
        [nzTooltipTitle]="menu.nome" nzTooltipPlacement="right">
        <i nz-icon [nzType]="menu.icone"></i>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipTitle="Sair" nzTooltipPlacement="right">
        <i nz-icon nzType="logout"></i>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <img src="assets/logomarcas/bece-logo.png" class="bece-logo">
      </div>
    </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
