@import '../../styles.scss';

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-sider {
  flex: 0 0 55px !important;
  max-width: 55px !important;
  min-width: 55px !important;
  width: 55px !important;
}

.ant-menu.ant-menu-dark {
  background-color: $primary-gray;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background-color: $primary-gray;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 12px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}

.sidebar-logo em {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  font-size: 29px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: $primary-white;

  .bece-logo {
    width: 200px;
    padding-left: 24px;
  }
}

.inner-content {
  padding: 4px 24px;
  background: $primary-white;
  height: 100%;
}
