<form nz-form>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Nome</nz-form-label>
        <nz-form-control>
          <input nz-input name="nome" placeholder="Informe um nome" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>E-m@il</nz-form-label>
        <nz-form-control>
          <input nz-input name="email" placeholder="Informe um email" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Telefone</nz-form-label>
        <nz-form-control>
          <input name="telefone" nz-input placeholder="Informe um telefone" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Fax</nz-form-label>
        <nz-form-control>
          <input name="fax" nz-input placeholder="Informe um fax" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="18">
      <nz-form-item>
        <nz-form-label>Logradouro</nz-form-label>
        <nz-form-control>
          <input name="logradouro" nz-input placeholder="Informe um logradouro" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label>Nº</nz-form-label>
        <nz-form-control>
          <input name="numero" nz-input placeholder="Informe um numero" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="14">
      <nz-form-item>
        <nz-form-label>Complemento</nz-form-label>
        <nz-form-control>
          <input name="complemento" nz-input placeholder="Informe um complemento" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="10">
      <nz-form-item>
        <nz-form-label>Bairro</nz-form-label>
        <nz-form-control>
          <input name="bairro" nz-input placeholder="Informe um bairro" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Cep</nz-form-label>
        <nz-form-control>
          <nz-select name="cep" nzPlaceHolder="Informe um cep"></nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Município</nz-form-label>
        <nz-form-control>
          <nz-select name="municipio" nzPlaceHolder="Selecione um município"></nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
