/* You can add global styles to this file, and also import other style files */
.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.sm-column {
  width: 5%;
}

.md-column {
  width: 10%;
}

.gd-column {
  width: 20%;
}
