/* You can add global styles to this file, and also import other style files */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.sm-column {
  width: 5%;
}

.md-column {
  width: 10%;
}

.gd-column {
  width: 20%;
}

/** Override global do nz-statistic */
::ng-deep .ant-statistic-title{
  margin-bottom: 0;
}

::ng-deep .ant-statistic-content{
  font-size: 19px;
}

//colors variables
$primary-gray: #898989;
$primary-white: #ffffff;
$primary-orange: #f47b40;

.primary-gray {
  color: $primary-gray;
}

.primary-white {
  color: $primary-white;
}

.primary-orange {
  color: $primary-orange;
}
