<div style="text-align: right;">
  <button nz-button nzType="primary" routerLink="add">Registrar</button>
</div>
<br>

<nz-table #table [nzData]="orgaos" nzSize="small" [nzLoading]="loading">
  <thead>
    <tr>
      <th nzCustomFilter style="width: 20%;">Nome
        <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th id="email" style="width: 5%;">Email</th>
      <th id="endereco" style="width: 20%;">Endereco</th>
      <th id="telefone" style="width: 5%;">Telefone</th>
      <th id="fax" style="width: 5%;">Fax</th>
      <th id="habilitar" style="width: 5%;">Habilitar</th>
      <th id="action" style="width: 10%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{data?.nome}}</td>
      <td>
        <span *ngIf="data?.email" nz-icon nzType="mail" nzTheme="twotone" nzTooltipTitle={{data.email}}
          nzTooltipPlacement="top" nz-tooltip>
        </span>
        <span *ngIf="!data?.email" nz-icon nzType="stop" nzTheme="twotone" nzTooltipTitle={{NOT_EXIST}}
          nzTooltipPlacement="top" nz-tooltip [nzTwotoneColor]="'#c22126'"></span>
      </td>
      <td>{{data?.endereco?.logradouro}}</td>
      <td>

        <span nz-icon [nzType]="data.telefone ? 'container':'stop'" nzTheme="twotone"
          [nzTooltipTitle]="data.telefone ? data.telefone : NOT_EXIST" nzTooltipPlacement="top" nz-tooltip
          [nzTwotoneColor]=" data.telefone ? '':'#c22126'">
        </span>
      </td>
      <td>
        <span nz-icon [nzType]="data.fax ? 'container':'stop'" nzTheme="twotone"
          [nzTooltipTitle]="data.fax ? data.fax : NOT_EXIST" nzTooltipPlacement="top" nz-tooltip
          [nzTwotoneColor]=" data.fax ? '':'#c22126'">
        </span>
      </td>
      <td>
        <nz-switch [ngModel]="data?.enabled" (click)="onChangeEnabled(data)"></nz-switch>
      </td>
      <td>
        <button nz-button routerLink="edit/{{data?.id}}" nzSize="small">
          <i nz-icon nzType="edit"></i>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzDanger (click)="showDeleteConfirm(data)" nzSize="small">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Filtrar pelo nome" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Filtrar
      </button>
      <button nz-button nzSize="small" (click)="reset()">Limpar</button>
    </div>
  </div>
</nz-dropdown-menu>
