<section id="form-step-two">
  <nz-card [nzTitle]="stepTemplate">

    <ng-template #stepTemplate>
      <app-step-template [position]="1" [formStatus]="form.invalid"></app-step-template>
    </ng-template>

    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div nz-row [nzGutter]="8">

        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label>Apoio PROARES</nz-form-label>
            <nz-form-control>
              <nz-switch nzSize="small" formControlName="proares"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="18">
          <nz-form-item>
            <nz-form-label>Descrição do apoio recebido</nz-form-label>
            <nz-form-control nzErrorTip="Campo aceita somente caracteres e números">
              <textarea nz-input formControlName="proaresDescricao" placeholder="Informe aqui a descrição do apoio recebido"
                nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label>Apoio UBECM</nz-form-label>
            <nz-form-control>
              <nz-switch nzSize="small" formControlName="ubecm"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="18">
          <nz-form-item>
            <nz-form-label>Descrição do apoio recebido</nz-form-label>
            <nz-form-control nzErrorTip="Campo aceita somente caracteres e números">
              <textarea nz-input formControlName="ubecmDescricao" placeholder="Informe aqui a descrição do apoio recebido"
                nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label>Apoio MINC</nz-form-label>
            <nz-form-control>
              <nz-switch nzSize="small" formControlName="minc"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="18">
          <nz-form-item>
            <nz-form-label>Descrição do apoio recebido</nz-form-label>
            <nz-form-control nzErrorTip="Campo aceita somente caracteres e números">
              <textarea nz-input formControlName="mincDescricao" placeholder="Informe aqui a descrição do apoio recebido"
                nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
      <!--/.nzGutter-->

      <button nz-button nzType="primary" nzDanger (click)="oldUrl()" [nzLoading]="loading">
        Voltar
      </button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="form.invalid">
        Próximo
      </button>
    </form>
  </nz-card>
</section>
